<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="color: white" translate>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <form> -->
    <ion-row  class="ion-padding">
      <ion-col class="ion-text-center">
              <img style="height: 20vh;" src="../../assets/final back white-01.png">
      </ion-col>
  </ion-row>

    <ion-item class="ion-padding-horizontal" lines="full" >
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input [(ngModel)]="phoneNo" type="text" required></ion-input>
    </ion-item>

    <ion-item class="ion-padding-horizontal" lines="full">
      <ion-label position="floating" >Name</ion-label>
      <ion-input type="text" [(ngModel)]="name" required></ion-input>
    </ion-item>

    <ion-item class="ion-padding-horizontal" lines="full">
      <ion-label position="floating" >Age</ion-label>
      <ion-input type="number" [(ngModel)]="age" required></ion-input>
    </ion-item>

    <ion-item class="ion-padding-horizontal" lines="full">
      <ion-label position="floating" >E-mail Address</ion-label>
      <ion-input type="text" [(ngModel)]="email" required></ion-input>
    </ion-item>

    <ion-item class="ion-padding-horizontal" lines="full">
      <ion-label position="floating" >Password</ion-label>
      <ion-input type="password" required [(ngModel)]="pass"></ion-input>
    </ion-item>

    <ion-item class="ion-padding-horizontal" lines="full">
      <ion-label position="floating" >Re-type Password</ion-label>
      <ion-input type="password" [(ngModel)]="passRep" required></ion-input>
    </ion-item>

    <ion-row class="ion-justify-content-center">
      <ion-col size="8" size-lg="6">
        <ion-button type="submit" color="danger" expand="block" (click)="signup()">Sign Up</ion-button>
      </ion-col>
    </ion-row>
  <!-- </form> -->
</ion-content>