<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="color: white" translate>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <form> -->
    <ion-row class="ion-padding">
      <ion-col class="ion-text-center">
          <ion-label>
              <img src="../../assets/final back white-01.png">
          </ion-label>
      </ion-col>
  </ion-row>

    <ion-item class="ion-padding-horizontal" lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required [(ngModel)]="id"></ion-input>
    </ion-item>

    <ion-item class="ion-padding-horizontal" lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required [(ngModel)]="pass"></ion-input>
    </ion-item>

    <ion-row  class=" ion-padding ion-justify-content-center">
      <ion-col class="ion-text-center" size="8" size-lg="6">
        <ion-button type="submit" color="danger" expand="block" (click)="login()">Sign In</ion-button>
        <a [routerLink]="['/forgot-password']" style="text-align: center;" class="small-text">Forgot Password?</a>
      </ion-col>
    </ion-row>
  <!-- </form> -->
</ion-content>