<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" style="color: white" translate>
      Risos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <div style="margin-top: 7em">
    <ion-grid>
            <ion-row class="ion-padding">
                <ion-col class="ion-text-center">
                    <ion-label>
                        <img src="../../assets/final back white-01.png">
                    </ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
              <ion-col align-self-center>
                <ion-button [routerLink]="['/registration']" expand="block" color="primary">Register</ion-button>
        
                <span class="divider line one-line"><hr></span>
        
        
                <ion-button [routerLink]="['/login']" expand="block" color="danger">Sign In</ion-button>
              </ion-col>
            </ion-row>

    </ion-grid>
  </div>
</ion-content>